body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 670px;*/
}

/*TODO: Come back to this later */

/*.form-control {
    border-radius: 0;
}*/
#standard-form {
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.search-result-text{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #ee9393;
    font-weight: bold;
    display: block;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    padding: 0 1px;
    }

.noselect {
     cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div .input .standard-form {
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.progress {
    height: 3em;
}

    .progress i {
        line-height: 3.5em;
    }

.progress-bar {
    transition: width 1s ease-in-out;
    font-size: 20px;
    line-height: 40px;
    color: white;
    text-align: center;
}

.progress-bar-success {
    background-color: #337ab7;
}

.editForm {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    
}


.formSpacing {
    margin-bottom: 0;
}