
<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        {{::vm.title}}
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div>
                <input class="form-control" style="max-width: 300px;" id="focusedInput" type="text" placeholder="Search Comments..." ng-model="vm.searchTerm" ng-model-options="{debounce: 1000}">
                <p class="search-result-text noselect" ng-if="vm.searchTerm">
                    &nbsp; {{ vm.totalNumberOfComments }}
                    Search
                    <span ng-if="vm.totalNumberOfComments === 0">Results</span>
                    <span ng-if="vm.totalNumberOfComments === 1">Result</span>
                    <span ng-if="vm.totalNumberOfComments > 1">Results</span>
                    for "<span style="color: black">{{vm.searchTerm}}</span>"
                </p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td><strong>Id</strong></td>
                    <td><strong>Text</strong></td>
                    <td class="text-center"><strong>Created</strong></td>
                    <td class="text-center"><strong>Updated</strong></td>
                </tr>
            </thead>
            <tbody ng-if="vm.loadedComments">
                <tr ng-repeat="comment in vm.comments | orderBy: '-id' | filter:vm.searchQuery"
                    ng-class-even="'active'"
                    ng-class="{even: $even, odd: $odd, info: hover}"
                    ng-mouseover="hover = true"
                    ng-mouseleave="hover = false">

                    <td>{{ comment.id }}</td>
                    <td>
                        {{ comment.text }}<span ng-if="comment.text.length > 100">...</span>
                    </td>
                    <td class="text-center">{{ comment.createdDate | date:'short' : '-1400'}}</td>
                    <td class="text-center">{{ comment.updateDate | date:'short' : '-1400'}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="!vm.loadedComments">
            <div class="text-center">
                <pagination total-items="vm.totalNumberOfComments" ng-model="vm.page" max-size="vm.maxNumberOfPagesToDisplay" class="pagination-sm" boundary-links="true" rotate="false" ng-change="vm.pageChanged(vm.page)"></pagination>
            </div>

        </div>

        <div ng-hide="vm.loadedComments">
            <spinning-widget></spinning-widget>
        </div>

    </div>
</div>