
<div class="detailBox" ng-show="sv.displayComments">
    <div class="titleBox">
        <label>Recent Comments</label>
        <!--TODO: Hide the comments when the x is pressed via angular-->
        <button type="button" class="close" aria-hidden="true" ng-click="sv.hideComments()">&times;</button>
    </div>

    <div class="actionBox">
        <ul class="commentList">
            <li ng-repeat="comment in vm.receipt.comments | orderBy: '-createdDate'">
                <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/3" />
                </div>
                <div class="commentText">
                    <p class="text-info">{{ comment.text | limitTo: 300}}</p>
                    <span class="date sub-text">on {{ comment.createdDate | date: "short": "-1400"}}</span>
                </div>
            </li>

        </ul>
        <!--TODO: Wire this up to a receiptAddComment()-->
        <form class="form-inline" role="form" ng-controller="app.receipts.CommentsController">
            <div class="form-group">
                <input class="form-control" ng-model="sv.comment.text" type="text" placeholder="Add A New Comment">
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="sv.addComment()">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="!sv.displayComments">
    <span>
        <a href="#" ng-click="sv.hideComments()">Show Comments</a>
    </span>
</div>
