
<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        {{::vm.title}}
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <td><strong>Id</strong></td>
                    <td><strong>Text</strong></td>
                    <td class="text-center"><strong>Created</strong></td>
                    <td class="text-center"><strong>Updated</strong></td>
                </tr>
            </thead>
            <tbody ng-if="vm.loadedComments">
                <tr ng-repeat="comment in vm.comments | orderBy: '-id'">

                    <td>{{ comment.id }}</td>
                    <td>{{ comment.text | limitTo: 300}}</td>
                    <td class="text-center">{{ comment.createdDate | date:'short' : '-1400'}}</td>
                    <td class="text-center">{{ comment.updateDate | date:'short' : '-1400'}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="vm.loadedComments">
            <spinning-widget></spinning-widget>
        </div>
    </div>
</div>